@model JobPortal.Data.ViewModel.LoginViewModel

@{
    Layout = "_LayoutAccount";
}

<!-- /Logo -->
<h4 class="mb-2">Chào mừng đến với Web tuyển dụng! 👋</h4>
<p class="mb-4">Vui lòng đăng nhập vào tài khoản của bạn để bắt đầu</p>

<form asp-action="Login" asp-controller="Account" id="account" class="mb-3" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="Email"
               type="text"
               class="form-control"
               autocomplete="username"
               aria-required="true"
               placeholder="Nhập email của bạn"
               autofocus />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3 form-password-toggle">
        <label asp-for="Password" class="form-label"></label><span class="text-danger">*</span>
        <div class="input-group input-group-merge">
            <input asp-for="Password"
                   type="password"
                   class="form-control"
                   autocomplete="new-password"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-required="true" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3">
        <button id="login-submit" class="btn btn-primary d-grid w-100" type="submit">Đăng nhập</button>
    </div>
</form>

<p class="text-center">
    <span>Bạn mới tham gia vào nền tảng của chúng tôi?</span>
    <a href="/register">
        <span>Tạo tài khoản</span>
    </a>
</p>

<a href="/employer/login"
   class="btn btn-primary d-grid w-100">Đăng nhập với tư cách Nhà tuyển dụng</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    @if (ViewBag.PasswordChanged != null && (bool)ViewBag.PasswordChanged)
    {
        <script>
            Swal.fire({
                title: 'Đổi mật khẩu thành công',
                text: 'Mật khẩu của bạn đã được thay đổi thành công. Vui lòng đăng nhập lại.',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
    }
