@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var account = await userManager.GetUserAsync(User);
    var isSignedIn = signInManager.IsSignedIn(User);
    var isInRoleUser = User.IsInRole("User");
    var isInRoleEmployer = User.IsInRole("Employer");
    var isInRoleAdmin = User.IsInRole("Admin");
}

<li class="menu-active"><a href="/">Trang chủ</a></li>
<li><a href="/job">Việc làm</a></li>
<li><a href="/company">Các công ty</a></li>
@if (isSignedIn)
{
    if (isInRoleUser)
    {
        <li><a href="/apply/@account.Id">Phỏng vấn</a></li>
    }
}
<li class="menu-has-children">
    <a href="#">Tùy chọn</a>
    <ul>
        @if (isInRoleEmployer)
        {
            <li><a href="/register-employer/update/@account.Id">Cập nhật thông tin</a></li>
            <li><a href="/change-password">Thay đổi mật khẩu</a></li>
            <hr />
        }
        else if (isInRoleUser)
        {
            <li><a href="/change-password">Thay đổi mật khẩu</a></li>
            <hr />
        }
        <li><a href="/search">Tìm kiếm</a></li>
        <li><a href="/price">Giá</a></li>
        <li><a href="/about-us">Về chúng tôi</a></li>
        <li><a href="/contact">Liên hệ</a></li>
        <li><a href="/elements">Các yếu tố</a></li>
    </ul>
</li>

@if (isSignedIn)
{
    if (isInRoleEmployer)
    {
        <li>
            <a href="/company/@account.Slug" class="ticker-btn">@(account.FullName ?? account.UserName)</a>
        </li>
        <li>
            <a href="/employer/index/@account.Id" class="ticker-btn">Trang Nhà tuyển dụng</a>
        </li>
    }
    else if (isInRoleAdmin)
    {
        <li>
            <a href="#" class="ticker-btn">Xin chào, @(account.FullName ?? account.UserName)</a>
        </li>
        <li>
            <a href="/admin" class="ticker-btn">Trang quản trị</a>
        </li>
    }
    else
    {
        <li>
            <a href="#" class="ticker-btn">Xin chào, @(account.FullName ?? account.UserName)</a>
        </li>
    }
    <li>
        <form id="logoutForm" class="form-inline">
            <a href="/logout" class="ticker-btn">Đăng xuất</a>
        </form>
    </li>
}
else
{
    <li>
        <a href="/register" class="ticker-btn">Đăng ký</a>
    </li>
    <li>
        <a href="/login" class="ticker-btn">Đăng nhập</a>
    </li>
    <li>
        <a href="/employer/login" class="ticker-btn">Dành cho Nhà tuyển dụng</a>
    </li>
}
